In [4]:
# Import dependencies
import pandas as pd
import os

In [6]:
# File to load
vine_table_to_load = os.path.join('Resources/vine_table.csv')

# Read the data into a DataFrame
vine_df = pd.read_csv(vine_table_to_load)

# Verify dataframe
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y

In [11]:
# Filter the data and create a new DataFrame to retrieve all the rows where the total_votes count is equal to or greater than 
# 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.
total_votes_over_20_df = vine_df.loc[vine_df["total_votes"] >= 20]
total_votes_over_20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [16]:
#Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the 
# number of helpful_votes divided by total_votes is equal to or greater than 50%.
helpful_votes_over_50_percent_df = total_votes_over_20_df.loc[total_votes_over_20_df["helpful_votes"]/total_votes_over_20_df["total_votes"] >= .50]
helpful_votes_over_50_percent_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [17]:
# Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a 
# review was written as part of the Vine program (paid), vine == 'Y'.
paid_vine_df = helpful_votes_over_50_percent_df.loc[helpful_votes_over_50_percent_df["vine"] == "Y"]
paid_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N

In [18]:
unpaid_vine_df = helpful_votes_over_50_percent_df.loc[helpful_votes_over_50_percent_df["vine"] == "N"]
unpaid_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [29]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types 
# of review (paid vs unpaid).

# Total number of reviews:
c

2643619

In [43]:
# Number of 5 star reviews
num_five_start_reviews = vine_df['star_rating'].value_counts()[5.0]
num_five_start_reviews

1645553

In [52]:
# Percentage of 5 start review for paid reviews

# Retrieve number of 5 star reviews in paid dataframe
num_five_start_reviews_paid = paid_vine_df['star_rating'].value_counts()[5.0]

# Retrieve total number of reviews for paid dataframe
total_reviews_paid = paid_vine_df["review_id"].count()

# Calculate percentage 
percent_five_star_paid = round((num_five_start_reviews_paid / total_reviews_paid), 2)
percent_five_star_paid

0.38

In [53]:
# Percentage of 5 start review for unpaid reviews

# Retrieve number of 5 star reviews in paid dataframe
num_five_start_reviews_unpaid = unpaid_vine_df['star_rating'].value_counts()[5.0]

# Retrieve total number of reviews for paid dataframe
total_reviews_unpaid = unpaid_vine_df["review_id"].count()

# Calculate percentage 
percent_five_star_unpaid = round((num_five_start_reviews_unpaid / total_reviews_unpaid), 2)
percent_five_star_unpaid

0.54